<!-- Input: todo object -->
<!DOCTYPE html>
<html>
    <head>
        <title>Completed TODOs</title>
    </head>
    <body>
        <h2>Completed TODOs</h2>
        <br>
        {% if completed_todos != None %}
            <table border=1>
                    <th>TODO</th>
                    <th>ID</th>
                    <th>Completed</th>
                    {% for todo in completed_todos: %}
                        <tr>
                            <td>{{ todo.name }}</td>
                            <td>{{ todo.id }}</td>
                            <td>{{ todo.isCompleted }}</td>
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
            No completed TODOs yet
        {% endif %}
        <br>
        <br>
        <a href="{{ url_for('showTodos') }}">Home</a>
    </body>
</html>