<!-- Input: todo object -->
<!DOCTYPE html>
<html>
    <head>
        <title>Confirm deleting a TODO?</title>
    </head>
    <body>
        <h2>Delete a TODO</h2>
        <br>
        Are you sure you want to delete the following TODO?<br>
        Name: {{ todo.name }}<br>
        ID: {{ todo.id }} <br><br>
        <form method="POST" action="{{ url_for('deleteTodo', todo_id = todo.id) }}">
            <input type="submit" value="Delete">
            <a href="{{ url_for('showTodos') }}">Cancel</a>
        </form>
    </body>
</html>